<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-face-api" version="0.0.89"
  xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>FaceApi</name>
  <description>Cordova plugin Face Api</description>
  <license>commercial</license>
  <keywords>cordova,face,reader,regula</keywords>

  <js-module name="FaceApi" src="www/FaceApi.js">
    <clobbers target="FaceSDK" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="FaceApi">
        <param name="ios-package" value="RFSWFaceApi" />
      </feature>
    </config-file>
    <header-file src="src/ios/RFSWFaceApi.h" />
    <source-file src="src/ios/RFSWFaceApi.m" />
    <header-file src="src/ios/RFSWJSONConstructor.h" />
    <source-file src="src/ios/RFSWJSONConstructor.m" />
    <podspec>
        <config>
        </config>
      <pods>
        <pod name="FaceSDK" spec="5.2.1613" />
      </pods>
    </podspec>
  </platform>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="FaceApi">
        <param name="android-package" value="cordova.plugin.faceapi.FaceApi" />
      </feature>
    </config-file>
    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/FaceApi.java" target-dir="src/cordova.plugin.faceapi" />
    <source-file src="src/android/JSONConstructor.java" target-dir="src/cordova.plugin.faceapi" />
    <source-file src="src/android/Config.kt" target-dir="java/cordova.plugin.faceapi" />
    <source-file src="src/android/Utils.kt" target-dir="java/cordova.plugin.faceapi" />
  </platform>
</plugin>
