<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-face-api" version="version_place_holder"
  xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>FaceApi</name>
  <description>Cordova plugin Face Api</description>
  <license>commercial</license>
  <keywords>cordova,face,reader,regula</keywords>

  <js-module name="FaceApi" src="www/FaceApi.js">
    <clobbers target="FaceApi" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="FaceApi">
        <param name="ios-package" value="RGLFaceApi" />
      </feature>
    </config-file>
    <header-file src="src/ios/RGLFaceApi.h" />
    <source-file src="src/ios/RGLFaceApi.m" />
    <header-file src="src/ios/JSONConstructor.h" />
    <source-file src="src/ios/JSONConstructor.m" />
    <podspec>
      <config/>
      <pods>
        <pod name="FaceSDKios_branch_place_holder" spec="~> ios_version_place_holder" />
      </pods>
    </podspec>
  </platform>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="FaceApi">
        <param name="android-package" value="cordova.plugin.faceapi.FaceApi" />
      </feature>
    </config-file>
    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/FaceApi.java" target-dir="src/cordova.plugin.faceapi" />
    <source-file src="src/android/JSONConstructor.java" target-dir="src/cordova.plugin.faceapi" />
  </platform>
</plugin>
